
  <p>設定</p>
  
  <%= link_to 'プロフィール情報', edit_user_path(current_user) %><br>
  <%= link_to 'アカウント情報', edit_user_registration_path %>

  <h1>プロフィール情報</h1>

  <div class="user-info">
  <% if @user.present? && @user.avatar.attached? %>
    <%= image_tag @user.avatar, class: "user_logo" %>
  <% else %>
    <%= image_tag "default_avatar.png", class: "user_logo" %>
  <% end %>
   </div>
    
    <p><strong>名前:</strong> <%= @user.full_name %></p>
    <p><strong>自己紹介:</strong> <%= @user.introduction %></p>
  </div>
  
  <h2>アカウント情報</h2>
  
  <div class="account-info">
    <p><strong>メールアドレス:</strong> <%= @user.email %></p>
    <p><strong>現在のパスワード:</strong> *********</p>
  </div>
  
  