<header>
  <p >
  <%= link_to image_tag("potepan_logo.png", alt: "ポテパンロゴ", class: "potepan_logo" ), root_path %>
  </p>

    <nav>

    <% if user_signed_in? %>
    <!-- ログインしているユーザー向けの表示 -->
    <div class="user-info" data-turbolinks-permanent>
    <% if current_user.present? && current_user.avatar.attached? %>
      <%= image_tag rails_blob_path(current_user.avatar, only_path: true), class: "user_logo" %>
    <% else %>
      <%= image_tag "default_avatar.png", class: "user_logo" %>
    <% end %>
  </div>
  
  <div class="dropdown">
  <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    <%= current_user.full_name %>
  </button>

  <!-- ドロップダウンメニュー本体 -->
  <div class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
    <%= link_to 'ホーム', root_path, class: "dropdown-item" %>
    <%= link_to '施設の新規登録', :new_room,  class: "dropdown-item" %>
    <%= link_to '登録済み一覧', rooms_path,  class: "dropdown-item" %>
    <%= link_to '予約済み一覧', reservations_path, class: "dropdown-item" %>
    <%= link_to 'アカウント設定', users_path, class: "dropdown-item" %>
    <%= link_to 'ログアウト', destroy_user_session_path, method: :delete, class: "dropdown-item" %>
  </div>
   </div>
        
      <% else %>
        <!-- ログインしていないユーザー向けの表示 -->
        <ul>
          <li><%= link_to 'ホーム', root_path %></li>
          <li><%= link_to '新規登録', new_user_registration_path %></li>
          <li><%= link_to 'ログイン', new_user_session_path %></li>
        </ul>
      <% end %>
      
      </nav>
      </header>
    
      <%= yield %>
    
    </body>
    </div>
  </nav>
</header>

